# fontawesome
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${NPM_FA_TOKEN}

# private npm packages
registry=https://registry.npmjs.org/
@tsujp:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${TSUJP_GPR_TOKEN}
